@import "darktable-elegant-lightblue.css";

@define-color blue_black #404040;
@define-color blue_blacker #383838;
@define-color blue_dark #383838;
@define-color blue_darker #383838;
@define-color blue_light #828282;
@define-color blue_lighter #919191;
@define-color blue_white #dedede;
@define-color blue_whiter #f7f7f7;
@define-color blue_middle #808080;
@define-color blue_middler #737373;
